html {
    height: 100%;
}
body {
    /*background-color: #e6e6e6; */
    font: 14px/1.2 'Source Sans Pro',sans-serif;
    padding: 1em;
}

body.display-section-summary #section-video {
    display: none;
}

body.display-section-video #section-summary {
    display: none;
}

body.display-section-summary {
}
body.display-section-summary #section-summary {
    max-width: 665px
}


body.display-section-video,
body.display-section-video main,
#section-video,
.videocontent,
#section-video .content {
    height: inherit;
    margin: 0;
}

#section-video {
    margin: 0;
    position: relative;
    width: 100%;
    padding: 5em 0 4em;
    box-sizing: border-box;
}

#section-video header {
    box-sizing: border-box;
    margin-top: -5em;
}

#section-video figcaption {
    padding-top: 1em;
    box-sizing: border-box;
}

#section-video .content .main-back-button {
    float: right;
}

#section-video .content .main-back-button:hover {
    cursor: pointer;
}

ul, li {
    list-style: none;
}
ul {
    padding: 0;
}
.right {
    float: right;
}
li > span:first-child {
    width: 100%
    padding: 0 2em 0 1em;
}
h1 {
    color: #373737; 
    font-size: 40px;
    font-weight: 400;
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: 600;
    padding-right: 100px;
    line-height: 1em;
    box-sizing: border-box;
}
h2 {
    margin-top: 1em;
    margin-bottom: 5px;
    color: #747474;
    font-size: 18px;
    font-weight: 600;
}
.unit {
    line-height: 25px !important;
    vertical-align: middle;
    color: #373737;
    font-size: 14px;
    padding-right: 45px;
    position: relative;
}
/*
.unit .duration {
    float: right;
    margin-right: -45px; 
}
*/
.video-link {
    color: #373737;
    font-size: 14px;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    cursor: pointer;
}
section header {
    padding-right: 2em;
}
section h1 {
    position: relative;
    padding-right: 2em;
}
.duration {
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 0;
}

#section-video h1,
h1 em {
    font-style: normal;
    color: orange;
}
.video-link:hover {
    text-decoration: underline;
}
#main-message {
    display: none;
    position: absolute;
    top: 0;
}
#main-message.error {
    display: block;
    color: red;
}
