/* vietnamese */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/sourcesanspro-regular-webfont.eot?v=4.0.3');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/sourcesanspro-regular-webfont.woff?v=4.0.3') format('woff'), url('../fonts/sourcesanspro-regular-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/sourcesanspro-regular-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/sourcesanspro-regular-webfont.eot?v=4.0.3');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/sourcesanspro-regular-webfont.woff?v=4.0.3') format('woff'), url('../fonts/sourcesanspro-regular-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/sourcesanspro-regular-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/sourcesanspro-regular-webfont.eot?v=4.0.3');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/sourcesanspro-regular-webfont.woff?v=4.0.3') format('woff'), url('../fonts/sourcesanspro-regular-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/sourcesanspro-regular-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* vietnamese */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/sourcesanspro-regular-webfont.eot?v=4.0.3');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/sourcesanspro-regular-webfont.woff?v=4.0.3') format('woff'), url('../fonts/sourcesanspro-regular-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/sourcesanspro-regular-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/sourcesanspro-regular-webfont.eot?v=4.0.3');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/sourcesanspro-regular-webfont.woff?v=4.0.3') format('woff'), url('../fonts/sourcesanspro-regular-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/sourcesanspro-regular-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/sourcesanspro-regular-webfont.eot?v=4.0.3');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/sourcesanspro-regular-webfont.woff?v=4.0.3') format('woff'), url('../fonts/sourcesanspro-regular-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/sourcesanspro-regular-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* vietnamese */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/sourcesanspro-regular-webfont.eot?v=4.0.3');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/sourcesanspro-regular-webfont.woff?v=4.0.3') format('woff'), url('../fonts/sourcesanspro-regular-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/sourcesanspro-regular-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/sourcesanspro-regular-webfont.eot?v=4.0.3');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/sourcesanspro-regular-webfont.woff?v=4.0.3') format('woff'), url('../fonts/sourcesanspro-regular-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/sourcesanspro-regular-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/sourcesanspro-regular-webfont.eot?v=4.0.3');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/sourcesanspro-regular-webfont.woff?v=4.0.3') format('woff'), url('../fonts/sourcesanspro-regular-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/sourcesanspro-regular-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* vietnamese */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/sourcesanspro-regular-webfont.eot?v=4.0.3');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/sourcesanspro-regular-webfont.woff?v=4.0.3') format('woff'), url('../fonts/sourcesanspro-regular-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/sourcesanspro-regular-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
    unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/sourcesanspro-regular-webfont.eot?v=4.0.3');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/sourcesanspro-regular-webfont.woff?v=4.0.3') format('woff'), url('../fonts/sourcesanspro-regular-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/sourcesanspro-regular-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/sourcesanspro-regular-webfont.eot?v=4.0.3');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/sourcesanspro-regular-webfont.woff?v=4.0.3') format('woff'), url('../fonts/sourcesanspro-regular-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/sourcesanspro-regular-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* vietnamese */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/sourcesanspro-regular-webfont.eot?v=4.0.3');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/sourcesanspro-regular-webfont.woff?v=4.0.3') format('woff'), url('../fonts/sourcesanspro-regular-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/sourcesanspro-regular-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/sourcesanspro-regular-webfont.eot?v=4.0.3');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/sourcesanspro-regular-webfont.woff?v=4.0.3') format('woff'), url('../fonts/sourcesanspro-regular-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/sourcesanspro-regular-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/sourcesanspro-regular-webfont.eot?v=4.0.3');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/sourcesanspro-regular-webfont.woff?v=4.0.3') format('woff'), url('../fonts/sourcesanspro-regular-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/sourcesanspro-regular-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
