%video#main-video.video-js.vjs-default-skin.vjs-big-play-centered{controls: true}
  %p.vjs-no-js
    To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
  %object#main-flash-fallback.vjs-flash-fallback{type: "application/x-shockwave-flash", data: "http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf"}
    %param{name: "movie", value: "http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf"}
    %param{name: "allowfullscreen",  value: "true"}
    %param{name: "flashvars", value: 'config={"playlist":["http://video-js.zencoder.com/oceans-clip.png", {"url": "http://video-js.zencoder.com/oceans-clip.mp4","autoPlay":false,"autoBuffering":true}]}'}
    <!-- Image Fallback. Typically the same as the poster image. -->
    %img{src: "http://video-js.zencoder.com/oceans-clip.png", alt: "Poster Image", title: "No video playback capabilities."}
