!!! 5
%html{:lang => "fr"}
  %head
    %meta{:charset => "utf-8"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "stylesheets/yahoo/cssreset.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "stylesheets/yahoo/cssbase.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "stylesheets/yahoo/cssfonts.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "stylesheets/application.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "stylesheets/fonts.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "javascripts/video-js/video-js.css"}
    %script{:type => "text/javascript", :src  => "javascripts/APIWrapper.js"}
    %script{:type => "text/javascript", :src  => "javascripts/myScorm.js"}
    %script{:type => "text/javascript", :src  => "javascripts/video-js/video.js"}
    %script{:type => "text/javascript", :src  => "javascripts/application.js"}
    %title
      = ox.title
    :javascript
      videojs.options.flash.swf = "javascripts/video-js/video-js.swf"
  %body#main.display-section-summary
    %p#main-message
    %section#section-summary
      %header 
        %h1
          %span
            Votre formation :
          %em
            = ox.title
          %span.duration
            = ox[:duration] if defined? ox[:duration]
      .content
        %ul
          - for chapter in ox.nodes
            %li.chapter
              %h2
                = chapter.title
              %ul
                - for unit in chapter.nodes
                  %li.unit
                    %span.video-link{'data-url' => unit.videoURL, 'data-tumbnail' => unit.thumbnail}=unit.title
                    %span.duration.right=unit.duration.empty? ? "00:01" : unit.duration
    %section#section-video
      %header
        %h1
          = ox.title
      .content
        %figure.videocontent
          -#= render partial: "video"
          = Haml::Engine.new(File.read("#{scorm_builder.root_path}/app/views/video2scorm/_video.html.haml"), {ox: ox}).render
          %figcaption
            %img.main-back-button.back-to-summary{src: "images/button-retour-formation.png"}
